/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Metrics
metrics/brakeman/report.html
metrics/rubocop/report.html
metrics/simplecov
metrics/rubycritic

.DS_Store

*.gem
